/* "Default" css styles that make sense */

/* RESET */
html, body { height: 100%; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
body {
  color: var(--text-main);
  background-color: var(--background);
}

div#root {
  /* Defaulting to the system font of a particular operating system can boost performance  */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  font-size: 1.1rem;
}

/* FORMS */
/* Overwrite browser's default auto-complete design */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--text-main);
  -webkit-box-shadow: 0 0 0px 1000px var(--contrast) inset;
  box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

/* GENERAL */
/* Change cursor style when hovering over inputs */
button, select,
[type='checkbox'], [type='range'], [type='radio'] {
  cursor: pointer;
  border: 0;
}

/* Range */
[type='range']{
  display: inherit;
  width: auto;
  padding: 0;
}

/* Make checkbox and radio bigger */
[type='checkbox'], [type='radio'] {
  width: auto;
  margin-right: 5px;
  transform: scale(1.4, 1.4);
}

::placeholder{
  color: var(--text-main);
}

/* FORM FIELDS */
input, textarea, select {
  color: var(--text-main);
  background-color: var(--contrast);

  font-family: inherit;
  font-size: inherit;

  margin: 6px 0px 12px 0px;
  padding: 10px;
  width: 100%;

  border-radius: 5px;
  border: 0;
  outline: none;
}

/* FOCUS */
input:focus, select:focus,textarea:focus {
  border-bottom: 3px solid var(--focus);
  /* Substract border width from margin-bottom */
  margin-bottom: 9px;
}

a:hover, a:focus {
  text-decoration: underline;
}

[type="checkbox"]:focus, [type="radio"]:focus{
  outline: 2px solid var(--focus);
}

/* MISC. */
/* Only resize vertically */
textarea { resize: vertical; }

*:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: var(--links);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

ul, ol { 
  margin: 10px 0px 10px 15px;
  list-style-position: inside;
}

table {
  margin-bottom: 10px;
  width: 100%;
}

td { padding: 6px; }

tbody tr:nth-child(even) {
  background-color: var(--contrast);
}

::selection {
  color: var(--text-bright);
  background-color: var(--text-selection);
}

footer { font-size: 0.9rem; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
}

h1, h2, h3, h4, h5, h6, strong {
  color: var(--text-bright);
}

h1, h2, h3, h4, h5, h6,
b, strong, th {
  font-weight: 600;
}

p { margin-bottom: 10px; }

hr {
  margin: 10px 0px;
  border: none;
  border-top: 2px solid var(--border);
}

label {
  font-weight: bold;
  margin-bottom: 4px;
}

q::before, q::after { content: none; }

blockquote, q {
  display: block;
  border-left: 4px solid var(--focus);
  margin: 1.5rem 0rem;
  padding: 0.5rem 1rem;
  font-style: italic;
}

blockquote > footer {
  font-style: normal;
  border: 0;
}

blockquote cite { font-style: normal; }

address { font-style: normal; }

mark {
  background-color: var(--highlight);
  border-radius: 2px;
  padding: 3px 2px;
  color: var(--background);
}

/* ANIMATIONS */
button, input, textarea {
  transition: 
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

/* CODE*/
code, samp, time {
  background: hsl(60, 56%, 91%);
  color: var(--code);
  padding: 5px 4px;
  margin: 10px 0px;
  border-radius: 4px;
  font-size: 1rem;
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

var {
  color: var(--variable);
  font-style: normal;
  font-family: monospace;
}

kbd {
  background: var(--contrast);
  border: 1px solid var(--border);
  border-radius: 2px;
  color: var(--text-main);
  padding: 2px 4px 2px 4px;
}